@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Color */
  --PrimaryColor: #026773;
  --SecondaryColor: #3ca6a6;
  --BlackColor: #151414;
  --WhiteColor: #f0ecec;
  --RedColor: #e15959;
  /* Font weight */

  /* Font Size */
  --H1: 40px;
  --H2: 36px;
  --H3: 32px;
  --H4: 30px;
  --H5: 28px;
  --H6: 24px;
  --BtnBig: 20px;
  --BtnSmall: 14px;
  --Navbar: 16px;
  --BodyTxt: 12px;
}

/* NavBar */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

/* Desktop view */
.navbardesktop--nav {
  padding-block: 24px;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.navbaritems--div {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1248px;
  gap: 365px;
  width: 98%;
}

.navbar__menulist {
  list-style: none;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.navbar__menulink {
  text-decoration: none;
  color: var(--BlackColor);
  font-size: 16px;
  font-weight: 400;
}

.navbar__menulink:hover,
.navbar__menulink.active {
  color: var(--PrimaryColor);
  font-weight: 700;
  transition: ease-in 0.3s;
}

.dropdownitems {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.dropdown {
  display: none;
  position: absolute;
  /* background-image: linear-gradient(to bottom, rgba(251, 251, 251, 0.45), rgba(251, 251, 251, 0.45)); */
  min-width: 807px;
  /* max-width: 13.5rem; */
  max-height: 448px;
  z-index: 999;
  list-style: none;
  width: 100%;
  top: 1.25rem;
  right: -246px;
  background-color: #eeeeee;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.serviesmenuitems {
  /* background-image: linear-gradient(to bottom, rgba(251, 251, 251, 0.9), rgba(251, 251, 251, 0.9)); */
  background-color: #eeeeee;
}

.dropdown .servicesmenuitems {
  display: block;
  padding-block: 20px;
  width: 100%;
}

.servicesmenulink {
  text-decoration: none;
  width: 100%;
  color: var(--BlackColor);
  display: flex;
  padding: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.dropdown .serviesmenuitems .servicesmenulink:hover {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.menuitems:hover .dropdown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 0.3s ease-in;
}

.servicesdropdow:hover .servicesdropdow--img {
  transform: rotate(180deg);
}

.contactUs__CTAbtn {
  padding: 8px 24px;
  color: var(--WhiteColor);
  background-color: var(--RedColor);
  border-radius: 24px;
}

.contactUs__CTAbtn:hover {
  font-weight: 400;
  color: var(--WhiteColor);
  background-color: #e66060;
}

/* Mobile view */

.navbarmobile--nav {
  /* position: fixed; */
  padding-block: 24px;
  background-color: white;
  width: 100%;
  z-index: 1000;
  top: 0;
  display: none;
}

.navbar__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1012px;
  margin-inline: auto;
  width: 95%;
}



.mobile__dropdownMenu {
  margin: 36px;
  display: none;
}

.mobile__dropdownMenu.open {
  display: flex;
}

.navbar__mobilemenulist--ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.navbar__mobilemenulinks--a {
  text-decoration: none;
  color: var(--BlackColor);
  font-size: var(--Navbar);
  display: block;
}

.navbar__mobilemenulinks--a.active {
  color: var(--PrimaryColor);
  font-weight: 700;
}

.menudropdown__container {
  text-decoration: none;
  color: var(--BlackColor);
  font-size: var(--Navbar);
  display: flex;
  gap: 4px;
  align-items: center;
}

.menudropdown--img.open {
  transform: rotate(180deg);
}

.mobile__dropdownList--ul {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0px;
}

.mobile__dropdownList--ul.open {
  display: flex;
}

.mobile__dropdownItem--li {
  width: 100%;
}

.mobile__dropdownLink--a {
  display: block;
  color: var(--BlackColor);
  font-size: var(--Navbar);
  text-decoration: none;
}

.mobile__dropdownLink--a.active{
  color: var(--PrimaryColor);
  font-weight: 700;
}

.navbar__contactBtn--a {
  padding: 8px 12px;
  color: var(--WhiteColor);
  background-color: var(--RedColor);
  border-radius: 24px;
  max-width: 112px;
}

/* Home Page */

.home_heroSection {
  padding-top: 129px;
}

.home_heroSection--BgImg {
  background-image: url("./img/home/headerImg.png");
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__contentContainer {
  max-width: 442px;
  margin-left: 96px;
  padding-top: 112px;
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 98%;
}

.header__mainContent__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header--h1 {
  font-size: var(--H1);
}

.highlight--span {
  color: var(--PrimaryColor);
  font-weight: 700;
}

.header__description {
  font-size: var(--BodyTxt);
  font-weight: 400;
}

.btn__container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.homeBtn {
  padding: 8px 24px;
  text-decoration: none;
  font-size: var(--BtnSmall);
  border-radius: 24px;
}

.primarybtn {
  color: white;
  background-color: var(--PrimaryColor);
}

.secondarybtn {
  color: var(--PrimaryColor);
  border: 1px solid var(--PrimaryColor);
}

.secondarybtn:hover {
  color: var(--WhiteColor);
  border: none;
  background-color: var(--PrimaryColor);
}

/* Section */

.home--mainSection__container {
  margin-top: 120px;
  display: flex;
  flex-direction: row-reverse;
  max-width: 1248px;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  gap: 156px;
}

.home--mainsection--img {
  border-radius: 16px;
}

.home--mainsection__contentContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home--mainsection--h2 {
  font-size: var(--H3);
  font-weight: 700;
}

.home--mainsection--p {
  font-size: var(--BodyTxt);
  font-weight: 400;
}

/* Services Section */

.serviceSection__container {
  margin-top: 120px;
  width: 98%;
}

.serviceSection--h2 {
  font-size: var(--H3);
  text-align: center;
}

.cards__container {
  /* display: grid;
  grid-template-columns: minmax(384px, 1fr);
  grid-template-columns: (1fr, 1fr, 1fr);
  grid-template-rows: (1fr, 1fr, 1fr); */
  display: flex;
  flex-wrap: wrap;
  max-width: 1248px;
  margin-inline: auto;
  row-gap: 82px;
  column-gap: 48px;
  margin-top: 98px;
  justify-content: center;
}

.cards--a {
  text-decoration: none;
  max-width: 384px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.cards--img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.cards__name--div {
  color: var(--WhiteColor);
  background-color: var(--PrimaryColor);
  min-height: 58px;
  text-align: center;
  font-size: var(--BtnSmall);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Why to choose us */

.chooseus__section {
  margin-top: 120px;
  width: 98%;
}

.chooseus__section--h2 {
  text-align: center;
  font-size: var(--H3);
}

.chosoeus__contentcontainer {
  margin-top: 98px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1248px;
  margin-inline: auto;
  gap: 48px;
  justify-content: center;
}

.chooseus__content--card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.chooseus__content--cardImg {
  border-radius: 16px;
}

.chooseus__content--cardheading {
  font-size: var(--Navbar);
  font-weight: 700;
}

/* About us Page */
.aboutus__headerSection {
  padding-top: 129px;
}
.aboutus__headerImg {
  background-image: url("./img/aboutus/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 282px;
  padding-top: 116px;
  background-position: center center;
}

.aboutus__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/* Main Section */

.aboutus__mainSection {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 120px;
  max-width: 1248px;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  gap: 156px;
  width: 98%;
}

.aboutus__mainSection--img {
  border-radius: 16px;
}

.aboutus__mainSection__contentContainer {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutus__mainSection--h2 {
  font-size: var(--H3);
  color: var(--PrimaryColor);
}

.aboutus__mainSection--p {
  font-size: var(--BodyTxt);
}

/* Value Section */

.aboutus__valueSection {
  display: flex;
  max-width: 1248px;
  margin-inline: auto;
  margin-top: 120px;
  justify-content: space-between;
  gap: 48px;
  width: 95%;
}

.aboutus__valueSection__Card {
  padding: 36px 46px;
  background-color: #f7f0f0;
  border-radius: 8px;
}

.aboutus__valueSection__CardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 292px;
}

.aboutus__valueSection__CardHeader {
  display: flex;
  gap: 20px;
}

.aboutus__valueSection__Card--h3 {
  font-size: var(--H4);
  color: var(--PrimaryColor);
}

.aboutus__valueSection__Card--ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 22px;
}

.aboutus__valueSection__Card--li {
  font-size: var(--BodyTxt);
}

/* Contact us Page */
.contactus__headerSection {
  padding-top: 129px;
}
.contactus__headerImg {
  background-image: url("./img/contactus/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 282px;
  padding-top: 116px;
  background-position: center center;
}

.contactus__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/*  */
.contactDetails__section {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  max-width: 1248px;
  margin-inline: auto;
  justify-content: space-between;
  gap: 48px;
  width: 95%;
}

.contactDetails--img {
  border-radius: 12px;
}

.contactDetails__container {
  max-width: 492px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.contactDetials__container__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactDetials__header--h2 {
  font-size: var(--H3);
}

.contactDetials__header--p {
  font-size: var(--BodyTxt);
}

.contactDetails__contactContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactDetails__contactcontent {
  display: flex;
  gap: 12px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.contactDetails__contactcontent--p {
  font-size: var(--BodyTxt);
}

/* Knowledge Base page */

.knowbase__headerSection {
  padding-top: 129px;
}
.knowbase__headerImg {
  background-image: url("./img/contactus/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 282px;
  padding-top: 116px;
  background-position: center center;
}

.knowbase__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/* Blog post */

.knowbase__blogSection {
  margin-top: 120px;
  max-width: 1248px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  width: 98%;
}

.knowbase__blogCards {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.knowbase__blogCards__img {
  border-radius: 16px;
}

.knowbase__blogCards__contentContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 384px;
}

.knowbase__blogCards__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.knowbase__blogCards__title {
  font-size: var(--H6);
}

.knowbase__blogCards__summary {
  font-size: var(--BodyTxt);
}

.knowbase__blogCards__blog--a {
  text-decoration: none;
  font-size: var(--BodyTxt);
  color: var(--PrimaryColor);
  border-radius: 4px;
  border: 1px solid var(--PrimaryColor);
  padding: 8px 24px;
  max-width: 116px;
}

.knowbase__blogCards__blog--a:hover {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
}

/* Services Page */

.service__headerSection {
  padding-top: 129px;
}
.service__headerImg {
  background-image: url("./img/services/support_coordination/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 282px;
  padding-top: 116px;
  background-position: center center;
}

.service__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/* main section */

.service__mainSection {
  display: flex;
  max-width: 1248px;
  margin-inline: auto;
  /* justify-content: space-between; */
  gap: 48px;
  margin-top: 120px;
  width: 98%;
  flex-wrap: wrap;
}

.service__mainSection--img {
  border-radius: 12px;
}

.service__mainSection__contentContainer {
  display: flex;
  gap: 32px;
  flex-direction: column;
  max-width: 600px;
}

.service__mainSection__header {
  font-size: var(--H3);
  color: var(--PrimaryColor);
}

.service__mainSection__descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.service__mainSection__description {
  font-size: var(--BodyTxt);
}

/*  */

.sevice__benefitSection {
  max-width: 1248px;
  margin-inline: auto;
  margin-top: 120px;
  width: 90%;
}

.sevice__benefitSection--h2 {
  text-align: center;
  font-size: var(--H4);
}

.services__benefitSection__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 98px;
  font-size: var(--BodyTxt);
}

.services__benefitSection__contentContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services__benefitSection__contentContainer--ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 24px;
}

/* make a referral page */

.refer__headerSection {
  padding-top: 129px;
}
.refer__headerImg {
  background-image: url("./img/make a referral/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 282px;
  padding-top: 116px;
  background-position: center center;
}

.refer__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/*  */

.referral__section {
  margin-top: 120px;
}

.referral__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 48px;
  max-width: 1248px;
  margin-inline: auto;
  align-items: start;
  width: 98%;
}
.referral__formContainer--form {
  display: flex;
  flex-direction: column;
  gap: 74px;
}

.referral__formContent__container {
  display: flex;
  flex-direction: column;
  gap: 98px;
}

.referralform__Container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.referralform--h2 {
  font-size: var(--H6);
}

.referralform__contentCotnainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 816px;
  column-gap: 48px;
  row-gap: 74px;
  justify-content: center;
}

.form__inputContainer--div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__Container--label {
  font-size: var(--BtnSmall);
  font-weight: 500;
}

.form__Container--input {
  padding-inline: 16px;
  padding-block: 13px;
  min-height: 44px;
  min-width: 384px;
  border-radius: 8px;
  border: 1px solid var(--BlackColor);
}

.form__Container--sup {
  color: var(--RedColor);
}

.referral__form--btn {
  padding: 8px 28px;
  color: var(--BlackColor);
  background-color: var(--RedColor);
  border-radius: 4px;
  border: 0px;
  font-size: var(--BtnSmall);
  font-weight: 500;
  max-width: 108px;
}

.referral--img {
  border-radius: 8px;
  object-fit: contain;
}

/* Footer Section */

.footerSection {
  background-color: var(--BlackColor);
  margin-top: 120px;
}

.footerSection__container {
  padding-top: 98px;
  max-width: 1248px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 98%;
  justify-content: center;
}

.footerSection__logoContainer {
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.footerSection__linkContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logoContainer__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logoContainer__content {
  max-width: 276px;
}

.logoContainer--img {
  object-fit: contain;
  max-width: 110px;
}

.logoContainer--p {
  color: var(--WhiteColor);
  font-size: var(--BodyTxt);
}

.logoContainer__social {
  display: flex;
  gap: 12px;
}

.linkContainer {
  margin-top: 78px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footerSection__link--h5 {
  font-size: var(--BtnSmall);
  color: var(--WhiteColor);
}

.quicklink__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.quicklink__link,
.servicelink__link {
  color: var(--WhiteColor);
  text-decoration: none;
  font-size: var(--BodyTxt);
}

/* Services link */

.footerSection__service--h5 {
  max-width: 285px;
  text-align: end;
}

.servicelink__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 260px;
  row-gap: 12px;
  column-gap: 48px;
}

/* Contact link */

.contactlink__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contactlink__link {
  display: flex;
  gap: 12px;
  text-decoration: none;
}

.contactlink--p {
  font-size: var(--BodyTxt);
  color: var(--WhiteColor);
}

.hr--line {
  margin-top: 98px;
}

.copyrightsection {
  color: var(--WhiteColor);
  font-size: var(--BodyTxt);
  text-align: center;
  margin-top: 56px;
  padding-bottom: 56px;
}

/* Resposive */

@media (max-width: 1273px) {
  /* knowwedge base */
  .knowbase__blogSection {
    justify-content: center;
  }
  /* services page */
  .service__mainSection {
    justify-content: center;
  }
  /* Make A Referral */
  .referral__container {
    justify-content: center;
  }
}

@media (max-width: 1264px) {
  /* Navbar */
  .navbaritems--div {
    gap: 320px;
  }
}

@media (max-width: 1219px) {
  /* NavBar */
  .navbaritems--div {
    gap: 300px;
  }
}

@media (max-width: 1217px) {
  /* NavBar */
  .navbardesktop--nav {
    display: none;
  }

  /* Mobile navbar */
  .navbarmobile--nav {
    display: block;
  }

  /* Home page */
  .home_heroSection {
    padding-top: 0;
  }
  /* About us Page */
  .aboutus__headerSection {
    padding-top: 0;
  }
  /* Contact us Page */
  .contactus__headerSection {
    padding-top: 0;
  }
  /* Knowledge Base page */

  .knowbase__headerSection {
    padding-top: 0;
  }
  /* Services Page */

  .service__headerSection {
    padding-top: 0;
  }
  /* Make a referral */
  .refer__headerSection {
    padding-top: 0;
  }
}

@media (max-width: 1200px) {
  /* Contact page */
  /* .contactDetails__section{
    justify-content: center;
  } */
  .contactDetails--img {
    object-fit: cover;
    aspect-ratio: 12 / 7.8;
    width: 98%;
    max-width: 550px;
  }
}

@media (max-width: 1148px) {
  /* Contact page */
  .contactDetails__section {
    justify-content: center;
  }
}

@media (max-width: 1112px) {
  /* About us page */
  .aboutus__mainSection {
    flex-direction: column;
  }
  .aboutus__mainSection {
    gap: 48px;
  }
  .aboutus__mainSection--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 768px;
    width: 98%;
  }
  .aboutus__mainSection__contentContainer {
    max-width: 744px;
  }
}

@media (max-width: 1024px) {
  /* Home page */
  .home--mainSection__container {
    flex-direction: column;
    gap: 48px;
  }
  .home--mainsection--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 768px;
    width: 98%;
  }
  .home--mainsection__contentContainer {
    max-width: 744px;
  }

  .linkContainer {
    column-gap: 333px;
    justify-content: start;
    margin-top: 48px;
    max-width: 688px;
    margin-left: 20px;
  }
  /* About us page */

  .aboutus__valueSection {
    flex-direction: column;
    align-items: center;
  }
  .aboutus__valueSection__Card {
    max-width: 384px;
  }
}

@media (max-width: 892px){
  .service__headerImg {
    padding-top: 80px;
}
}

@media (max-width: 833px) {
  /* Make a Referral */
  .referral__formContainer--form {
    align-items: center;
  }
  .referralform__Container {
    align-items: center;
  }
  .referralform__contentCotnainer {
    row-gap: 48px;
  }
  .referral--img {
    display: none;
  }
}

@media (max-width: 628px) {
  /* Home page */
  .header__contentContainer {
    margin-inline: auto;
    width: 90%;
  }
  .cards__container {
    row-gap: 48px;
  }
  /* Contact page */
  .contactDetails--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 550px;
    width: 98%;
  }
  /* Services Page */

  .service__mainSection--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 550px;
    width: 98%;
  }
}

@media (max-width: 576px) {
  /* Footer section */
  .footerSection__service--h5 {
    text-align: left;
  }
  .servicelink__container {
    max-height: none;
  }
  /* Contact page */
  .contactDetails--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 480px;
  }
}

@media (max-width: 478px){
  /* Services page */
  .service__headerImg {
    padding-top: 80px;
}
.service__heading--h1 {
  font-size: var(--H3);
}
}

@media (max-width: 425px) {

  /* Navbar */
  .navbar__logolink--a{
    margin-left: 144px;
  }

  /* Home page */
  .cards--a {
    max-width: 300px;
  }

  /* About us page */
  .aboutus__valueSection__Card {
    max-width: 326px;
  }

  /* knowledge base */
  .knowbase__blogCards {
    max-width: 304px;
  }

  /* Make a referral */
  .form__Container--input {
    min-width: 364px;
  }

}

@media (max-width: 375px) {
  /* Make a referral */
  .form__Container--input {
    min-width: 300px;
  }
    /* Services page */
    .service__headerImg {
      padding-top: 80px;
  }
  .service__heading--h1 {
    font-size: var(--H4);
  }
}
