@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Color */
  --PrimaryColor: #026773;
  --SecondaryColor: #3ca6a6;
  --BlackColor: #151414;
  --WhiteColor: #f0ecec;
  --RedColor: #e15959;

  /* Font Size */
  --H1: 2.5rem;
  --H2: 2.25rem;
  --H3: 2rem;
  --H4: 1.875;
  --H5: 1.75rem;
  --H6: 1.5rem;
  --BtnBig: 1.25rem;
  --BtnSmall: 0.875rem;
  --Navbar: 1rem;
  --BodyTxt: 0.75rem;
}

/* Navbar */

/* Desktop view */
.navbardesktop--nav {
  padding-block: 1.5rem;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.navbaritems--div {
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 78rem;
  gap: 22.812rem;
  width: 98%;
}

.navbar__menulist {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.navbar__menulink {
  text-decoration: none;
  color: var(--BlackColor);
  font-size: 1rem;
  font-weight: 400;
}

.navbar__menulink:hover,
.navbar__menulink.active {
  color: var(--PrimaryColor);
  font-weight: 700;
  transition: ease-in 0.3s;
}

.dropdownitems {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.dropdown {
  display: none;
  position: absolute;
  /* background-image: linear-gradient(to bottom, rgba(251, 251, 251, 0.45), rgba(251, 251, 251, 0.45)); */
  min-width: 50.437rem;
  /* max-width: 13.5rem; */
  max-height: 28rem;
  z-index: 999;
  list-style: none;
  width: 100%;
  top: 1.25rem;
  right: -15.375rem;
  background-color: #eeeeee;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.serviesmenuitems {
  /* background-image: linear-gradient(to bottom, rgba(251, 251, 251, 0.9), rgba(251, 251, 251, 0.9)); */
  background-color: #eeeeee;
}

.dropdown .servicesmenuitems {
  display: block;
  padding-block: 1.25rem;
  width: 100%;
}

.servicesmenulink {
  text-decoration: none;
  width: 100%;
  color: var(--BlackColor);
  display: flex;
  padding: 1rem;
  text-align: center;
  font-size: var(--Navbar);
  font-weight: 400;
}

.dropdown .serviesmenuitems .servicesmenulink:hover {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.menuitems:hover .dropdown {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 0.3s ease-in;
}

.servicesdropdow:hover .servicesdropdow--img {
  transform: rotate(180deg);
}

.contactUs__CTAbtn {
  padding: 0.5rem 1.5rem;
  color: var(--WhiteColor);
  background-color: var(--RedColor);
  border-radius: 1.5rem;
}

.contactUs__CTAbtn:hover {
  font-weight: 400;
  color: var(--WhiteColor);
  background-color: #e66060;
}

/* Mobile view */

.navbarmobile--nav {
  /* position: fixed; */
  padding-block: 1.5rem;
  background-color: white;
  width: 100%;
  z-index: 1000;
  top: 0;
  display: none;
}

.navbar__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 63.25rem;
  margin-inline: auto;
  width: 95%;
}

.mobile__dropdownMenu {
  margin: 2.25rem;
  display: none;
}

.mobile__dropdownMenu.open {
  display: flex;
}

.navbar__mobilemenulist--ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.navbar__mobilemenulinks--a {
  text-decoration: none;
  color: var(--BlackColor);
  font-size: var(--Navbar);
  display: block;
}

.navbar__mobilemenulinks--a.active {
  color: var(--PrimaryColor);
  font-weight: 700;
}

.menudropdown__container {
  text-decoration: none;
  color: var(--BlackColor);
  font-size: var(--Navbar);
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.menudropdown--img.open {
  transform: rotate(180deg);
}

.mobile__dropdownList--ul {
  list-style: none;
  display: none;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 0px;
}

.mobile__dropdownList--ul.open {
  display: flex;
}

.mobile__dropdownItem--li {
  width: 100%;
}

.mobile__dropdownLink--a {
  display: block;
  color: var(--BlackColor);
  font-size: var(--Navbar);
  text-decoration: none;
}

.mobile__dropdownLink--a.active {
  color: var(--PrimaryColor);
  font-weight: 700;
}

.navbar__contactBtn--a {
  padding: 0.5rem 0.75rem;
  color: var(--WhiteColor);
  background-color: var(--RedColor);
  border-radius: 1.5rem;
  max-width: 7rem;
}

/* Home Page */

.home_heroSection {
  padding-top: 8.062rem;
}

.home_heroSection--BgImg {
  background-image: url("./img/home/headerImg.png");
  min-height: 37.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__contentContainer {
  max-width: 27.625rem;
  margin-left: 6rem;
  padding-top: 7rem;
  display: flex;
  gap: 1.75rem;
  flex-wrap: wrap;
  flex-direction: column;
  width: 98%;
}

.header__mainContent__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header--h1 {
  font-size: var(--H1);
}

.highlight--span {
  color: var(--PrimaryColor);
  font-weight: 700;
}

.header__description {
  font-size: var(--BodyTxt);
  font-weight: 400;
}

.btn__container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.homeBtn {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  font-size: var(--BtnSmall);
  border-radius: 1.5rem;
}

.primarybtn {
  color: white;
  background-color: var(--PrimaryColor);
}

.secondarybtn {
  color: var(--PrimaryColor);
  border: 1px solid var(--PrimaryColor);
}

.secondarybtn:hover {
  color: var(--WhiteColor);
  border: none;
  background-color: var(--PrimaryColor);
}

/* Section */

.home--mainSection__container {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: row-reverse;
  max-width: 78rem;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  gap: 9.75rem;
}

.home--mainsection--img {
  border-radius: 1rem;
}

.home--mainsection__contentContainer {
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home--mainsection--h2 {
  font-size: var(--H3);
  font-weight: 700;
}

.home--mainsection--p {
  font-size: var(--BodyTxt);
  font-weight: 400;
}

.float__contactus--a{
  display: none;
}

/* Services Section */

.serviceSection__container {
  margin-top: 7.5rem;
  width: 98%;
}

.serviceSection--h2 {
  font-size: var(--H3);
  text-align: center;
}

.cards__container {
  /* display: grid;
  grid-template-columns: minmax(384px, 1fr);
  grid-template-columns: (1fr, 1fr, 1fr);
  grid-template-rows: (1fr, 1fr, 1fr); */
  display: flex;
  flex-wrap: wrap;
  max-width: 78rem;
  margin-inline: auto;
  row-gap: 5.125rem;
  column-gap: 3rem;
  margin-top: 6.125rem;
  justify-content: center;
}

.cards--a {
  text-decoration: none;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.cards--img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cards__name--div {
  color: var(--WhiteColor);
  background-color: var(--PrimaryColor);
  min-height: 3.625rem;
  text-align: center;
  font-size: var(--BtnSmall);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Why to choose us */

.chooseus__section {
  margin-top: 7.5rem;
  width: 98%;
}

.chooseus__section--h2 {
  text-align: center;
  font-size: var(--H3);
}

.chosoeus__contentcontainer {
  margin-top: 6.125rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 78rem;
  margin-inline: auto;
  gap: 3rem;
  justify-content: center;
}

.chooseus__content--card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.chooseus__content--cardImg {
  border-radius: 1rem;
}

.chooseus__content--cardheading {
  font-size: var(--Navbar);
  font-weight: 700;
}

.service__btncontainer {
  display: flex;
  gap: 1rem;
  margin-top: 4.625rem;
  max-width: 18.25rem;
  margin-inline: auto;
  flex-wrap: wrap;
}

.btn--a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: var(--WhiteColor);
}

.btn__makereferral {
  background-color: var(--PrimaryColor);
}

.btn__contactus {
  background-color: var(--RedColor);
}

/* About us Page */
.aboutus__headerSection {
  padding-top: 8.062rem;
}
.aboutus__headerImg {
  background-image: url("./img/aboutus/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 17.625rem;
  padding-top: 7.25rem;
  background-position: center center;
}

.aboutus__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/* Main Section */

.aboutus__mainSection {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 7.5rem;
  max-width: 78rem;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  gap: 9.75rem;
  width: 98%;
}

.aboutus__mainSection--img {
  border-radius: 1rem;
}

.aboutus__mainSection__contentContainer {
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.aboutus__mainSection--h2 {
  font-size: var(--H3);
  color: var(--PrimaryColor);
}

.aboutus__mainSection--p {
  font-size: var(--BodyTxt);
}

/* Value Section */

.aboutus__valueSection {
  display: flex;
  max-width: 78rem;
  margin-inline: auto;
  margin-top: 7.5rem;
  justify-content: space-between;
  gap: 3rem;
  width: 95%;
}

.aboutus__valueSection__Card {
  padding: 2.25rem 2.875rem;
  background-color: #f7f0f0;
  border-radius: 0.5rem;
}

.aboutus__valueSection__CardContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 18.25rem;
}

.aboutus__valueSection__CardHeader {
  display: flex;
  gap: 1.25rem;
}

.aboutus__valueSection__Card--h3 {
  font-size: var(--H4);
  color: var(--PrimaryColor);
}

.aboutus__valueSection__Card--ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-left: 1.375rem;
}

.aboutus__valueSection__Card--li {
  font-size: var(--BodyTxt);
}

/* Contact us Page */
.contactus__headerSection {
  padding-top: 8.062rem;
}
.contactus__headerImg {
  background-image: url("./img/contactus/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 17.625rem;
  padding-top: 7.25rem;
  background-position: center center;
}

.contactus__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/*  */
.contactDetails__section {
  margin-top: 7.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  max-width: 78rem;
  margin-inline: auto;
  justify-content: space-between;
  gap: 3rem;
  width: 95%;
}

.contactDetails--img {
  border-radius: 0.75rem;
}

.contactDetails__container {
  max-width: 30.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.contactDetials__container__header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contactDetials__header--h2 {
  font-size: var(--H3);
}

.contactDetials__header--p {
  font-size: var(--BodyTxt);
}

.contactDetails__contactContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contactDetails__contactcontent {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  text-decoration: none;
  color: black;
}

.contactDetails__contactcontent--p {
  font-size: var(--BodyTxt);
}

/* Knowledge Base page */

.knowbase__headerSection {
  padding-top: 8.062rem;
}
.knowbase__headerImg {
  background-image: url("./img/contactus/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 17.625rem;
  padding-top: 7.25rem;
  background-position: center center;
}

.knowbase__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/* Blog post */

.knowbase__blogSection {
  margin-top: 7.5rem;
  max-width: 78rem;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 98%;
}

.knowbase__blogCards {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.knowbase__blogCards__img {
  border-radius: 1rem;
}

.knowbase__blogCards__contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 24rem;
}

.knowbase__blogCards__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.knowbase__blogCards__title {
  font-size: var(--H6);
}

.knowbase__blogCards__summary {
  font-size: var(--BodyTxt);
}

.knowbase__blogCards__blog--a {
  text-decoration: none;
  font-size: var(--BodyTxt);
  color: var(--PrimaryColor);
  border-radius: 0.25rem;
  border: 1px solid var(--PrimaryColor);
  padding: 0.5rem 1.5rem;
  max-width: 7.25rem;
}

.knowbase__blogCards__blog--a:hover {
  background-color: var(--PrimaryColor);
  color: var(--WhiteColor);
}

/* Services Page */

.service__headerSection {
  padding-top: 8.062rem;
}
.service__headerImg {
  background-image: url("./img/services/support_coordination/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 17.625rem;
  padding-top: 7.25rem;
  background-position: center center;
}

.service__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/* main section */

.service__mainSection {
  display: flex;
  max-width: 78rem;
  margin-inline: auto;
  /* justify-content: space-between; */
  gap: 3rem;
  margin-top: 7.5rem;
  width: 98%;
  flex-wrap: wrap;
}

.service__mainSection--img {
  border-radius: 0.75rem;
}

.service__mainSection__contentContainer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  max-width: 37.5rem;
}

.service__mainSection__header {
  font-size: var(--H3);
  color: var(--PrimaryColor);
}

.service__mainSection__descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.service__mainSection__description {
  font-size: var(--BodyTxt);
}

/*  */

.sevice__benefitSection {
  max-width: 78rem;
  margin-inline: auto;
  margin-top: 7.5rem;
  width: 90%;
}

.sevice__benefitSection--h2 {
  text-align: center;
  font-size: var(--H4);
}

.services__benefitSection__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 6.125rem;
  font-size: var(--BodyTxt);
}

.services__benefitSection__contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.services__benefitSection__contentContainer--ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-left: 1.5rem;
}

/* make a referral page */

.refer__headerSection {
  padding-top: 8.062rem;
}
.refer__headerImg {
  background-image: url("./img/make a referral/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 17.625rem;
  padding-top: 7.25rem;
  background-position: center center;
}

.refer__heading--h1 {
  text-align: center;
  font-size: var(--H1);
}

/*  */

.referral__section {
  margin-top: 7.5rem;
}

.referral__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
  max-width: 78rem;
  margin-inline: auto;
  align-items: start;
  width: 98%;
}
.referral__formContainer--form {
  display: flex;
  flex-direction: column;
  gap: 4.625rem;
}

.referral__formContent__container {
  display: flex;
  flex-direction: column;
  gap: 6.125rem;
}

.referralform__Container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.referralform--h2 {
  font-size: var(--H6);
}

.referralform__contentCotnainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 51rem;
  column-gap: 3rem;
  row-gap: 4.625rem;
  justify-content: center;
}

.form__inputContainer--div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form__Container--label {
  font-size: var(--BtnSmall);
  font-weight: 500;
}

.form__Container--input {
  padding-inline: 1rem;
  padding-block: 0.812rem;
  min-height: 2.75rem;
  min-width: 24rem;
  border-radius: 0.5rem;
  border: 1px solid var(--BlackColor);
}

.form__Container--sup {
  color: var(--RedColor);
}

.referral__form--btn {
  padding: 0.5rem 1.75rem;
  color: var(--BlackColor);
  background-color: var(--RedColor);
  border-radius: 0.25rem;
  border: 0px;
  font-size: var(--BtnSmall);
  font-weight: 500;
  max-width: 6.75rem;
}

.referral--img {
  border-radius: 0.5rem;
  object-fit: contain;
}

/* Footer Section */

.footerSection {
  background-color: var(--BlackColor);
  margin-top: 7.5rem;
}

.footerSection__container {
  padding-top: 6.125rem;
  max-width: 78rem;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  width: 98%;
  justify-content: center;
}

.footerSection__logoContainer {
  display: flex;
  gap: 1.75rem;
  flex-direction: column;
}

.footerSection__linkContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logoContainer__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.logoContainer__content {
  max-width: 17.25rem;
}

.logoContainer--img {
  object-fit: contain;
  max-width: 6.875rem;
}

.logoContainer--p {
  color: var(--WhiteColor);
  font-size: var(--BodyTxt);
}

.logoContainer__social {
  display: flex;
  gap: 0.75rem;
}

.linkContainer {
  margin-top: 4.875rem;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.footerSection__link--h5 {
  font-size: var(--BtnSmall);
  color: var(--WhiteColor);
}

.quicklink__container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.quicklink__link,
.servicelink__link {
  color: var(--WhiteColor);
  text-decoration: none;
  font-size: var(--BodyTxt);
}

/* Services link */

.footerSection__service--h5 {
  max-width: 17.812rem;
  text-align: end;
}

.servicelink__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 16.25rem;
  row-gap: 0.75rem;
  column-gap: 3rem;
}

/* Contact link */

.contactlink__container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contactlink__link {
  display: flex;
  gap: 0.75rem;
  text-decoration: none;
}

.contactlink--p {
  font-size: var(--BodyTxt);
  color: var(--WhiteColor);
}

.hr--line {
  margin-top: 6.125rem;
}

.copyrightsection {
  color: var(--WhiteColor);
  font-size: var(--BodyTxt);
  text-align: center;
  margin-top: 3.5rem;
  padding-bottom: 3.5rem;
}

/* Resposive */

@media (max-width: 79.562rem) {
  /* knowwedge base */
  .knowbase__blogSection {
    justify-content: center;
  }
  /* services page */
  .service__mainSection {
    justify-content: center;
  }
  /* Make A Referral */
  .referral__container {
    justify-content: center;
  }
}

@media (max-width: 79rem) {
  /* Navbar */
  .navbaritems--div {
    gap: 20rem;
  }
}

@media (max-width: 76.187rem) {
  /* NavBar */
  .navbaritems--div {
    gap: 18.75rem;
  }
}

@media (max-width: 76.062rem) {
  /* NavBar */
  .navbardesktop--nav {
    display: none;
  }

  /* Mobile navbar */
  .navbarmobile--nav {
    display: block;
  }

  /* Home page */
  .home_heroSection {
    padding-top: 0;
  }
  /* About us Page */
  .aboutus__headerSection {
    padding-top: 0;
  }
  /* Contact us Page */
  .contactus__headerSection {
    padding-top: 0;
  }
  /* Knowledge Base page */

  .knowbase__headerSection {
    padding-top: 0;
  }
  /* Services Page */

  .service__headerSection {
    padding-top: 0;
  }
  /* Make a referral */
  .refer__headerSection {
    padding-top: 0;
  }
  /* Float Contact us */
  .float__contactus--a {
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: var(--WhiteColor);
    background-color: var(--RedColor);
    border-radius: 1.5rem;
    position: fixed;
    top: 33rem;
    right: 1.5rem;
  }
}

@media (max-width: 75rem) {
  /* Contact page */
  /* .contactDetails__section{
    justify-content: center;
  } */
  .contactDetails--img {
    object-fit: cover;
    aspect-ratio: 12 / 7.8;
    width: 98%;
    max-width: 34.375rem;
  }
}

@media (max-width: 71.75rem) {
  /* Contact page */
  .contactDetails__section {
    justify-content: center;
  }
}

@media (max-width: 69.5rem) {
  /* About us page */
  .aboutus__mainSection {
    flex-direction: column;
  }
  .aboutus__mainSection {
    gap: 3rem;
  }
  .aboutus__mainSection--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 48rem;
    width: 98%;
  }
  .aboutus__mainSection__contentContainer {
    max-width: 46.5rem;
  }
}

@media (max-width: 64rem) {
  /* Home page */
  .home--mainSection__container {
    flex-direction: column;
    gap: 3rem;
  }
  .home--mainsection--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 48rem;
    width: 98%;
  }
  .home--mainsection__contentContainer {
    max-width: 46.5rem;
  }

  .linkContainer {
    column-gap: 20.812rem;
    justify-content: start;
    margin-top: 3rem;
    max-width: 43rem;
    margin-left: 1.25rem;
  }
  /* About us page */

  .aboutus__valueSection {
    flex-direction: column;
    align-items: center;
  }
  .aboutus__valueSection__Card {
    max-width: 24rem;
  }
}

@media (max-width: 55.75rem) {
  .service__headerImg {
    padding-top: 5rem;
  }
}

@media (max-width: 52.062rem) {
  /* Make a Referral */
  .referral__formContainer--form {
    align-items: center;
  }
  .referralform__Container {
    align-items: center;
  }
  .referralform__contentCotnainer {
    row-gap: 3rem;
  }
  .referral--img {
    display: none;
  }
}

@media (max-width: 39.25rem) {
  /* Home page */
  .header__contentContainer {
    margin-inline: auto;
    width: 90%;
  }
  .cards__container {
    row-gap: 3rem;
  }
  /* Contact page */
  .contactDetails--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 34.375rem;
    width: 98%;
  }
  /* Services Page */

  .service__mainSection--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 34.375rem;
    width: 98%;
  }
}

@media (max-width: 36rem) {
  /* Footer section */
  .footerSection__service--h5 {
    text-align: left;
  }
  .servicelink__container {
    max-height: none;
  }
  /* Contact page */
  .contactDetails--img {
    object-fit: cover;
    aspect-ratio: 18 / 9;
    max-width: 30rem;
  }
}

@media (max-width: 29.875rem) {
  /* Services page */
  .service__headerImg {
    padding-top: 5rem;
  }
  .service__heading--h1 {
    font-size: var(--H3);
  }
}

@media (max-width: 26.562rem) {
  /* Navbar */
  .navbar__logolink--a {
    margin-left: 9rem;
  }

  /* Home page */
  .cards--a {
    max-width: 18.75rem;
  }

  /* About us page */
  .aboutus__valueSection__Card {
    max-width: 20.375rem;
  }

  /* knowledge base */
  .knowbase__blogCards {
    max-width: 19rem;
  }

  /* Make a referral */
  .form__Container--input {
    min-width: 22.75rem;
  }
}

@media (max-width: 23.437rem) {
  /* Make a referral */
  .form__Container--input {
    min-width: 18.75rem;
  }
  /* Services page */
  .service__headerImg {
    padding-top: 5rem;
  }
  .service__heading--h1 {
    font-size: var(--H4);
  }
}
